*~
*.DS_Store
containers/
vagrant/vagrant_data/
vagrant/.vagrant
intel19/context19/intel_license/
intel19/context19/intel_tarballs/
intel19/context19/ssh-key/
context*
intel19/containers/
*.log
*.sif
*.tar.gz
ssh-key/
